.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

button .disabled {
  background-color: gray;
}

.medium-violet-red {
  background-color: mediumVioletRed;
}
.midnight-blue {
  background-color: midnightBlue;
}
