body {
  background-color: #242424;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  margin-top: 8rem;
  width: 100%;
}

button {
  width: 16rem;
  height: 4rem;
  font-size: 2rem;
  cursor: pointer;
}

label {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
